# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.dll
*.dylib

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# project specific excludes
*~
.DS_Store
*swp
etc/*
bin/*
htdocs/index.html
htdocs/sitemap.xml
htdocs/publications.*
htdocs/articles.*
htdocs/data.*
htdocs/recent/*
htdocs/person/*
htdocs/affiliation/*
htdocs/repository/*
htdocs/Caltech*/*
htdocs/funder/*
*.zip
*.boltdb
*.bleve
dataset/*
testsite/*
logs/*
dist/*
*.csv
*.dat
*gz
scratch/*
*.dataset
*.ds
build
__pycache__
*.h
py/files.txt
py/MANIFEST
dist
eprinttools.egg-info
man
testout
testout_*
*.keys
*.json
htdocs/*
*.xml
*.bak
sql-dumps/*
