<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    ${if(page_title)}<title>${page_title}</title>${endif}
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header>
<h1>${site_title}</h1>
<h2>${organization}</h2>
</header>

${if(nav)}<nav>
${nav}
</nav>${endif}

${if(title)}<h1>${title}</h1>${endif}

<section>
<p><a href="/browseviews.html">Up</a></p>
${if(content)}${content}${endif}
${if(listing)}
<ul>
    ${for(listing)}<li><a href="${it.key}.html">${it.label}</a> (${it.count})${endfor}
</ul>
${endif}
</section>

<footer>
<span><h1><A href="https://caltech.edu">Caltech</a></h1></span>
<span>&copy; 2020 <a href="https://www.library.caltech.edu/copyright">Caltech library</a></span>
<address>1200 E California Blvd, Mail Code 1-32, Pasadena, CA 91125-3200</address> 
<span>Phone: <a href="tel:+1-626-395-3405">(626)395-3405</a></span>
<span><a href="mailto:library@caltech.edu">Email Us</a></span>
<a class="cl-hide" href="sitemap.xml">Site Map</a>
</footer>
</body>
</html>
